.sub-header {
    margin-top: 3rem;
}

.produto-detail {
    width: 100%;
    margin: 3rem auto;
    margin-bottom: 5rem;
    padding: 2rem 0;
    padding-bottom: 4rem;
    background: rgb(250, 247, 247);
}

.img-detalhes {
    width: 300px;
}

.produto-nome {
    text-align: center;
}

.middle {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 5rem;
}

.texto {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 0.3rem;
}

.descricao {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.preco {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.content {
    width: 70%;
    margin: 0 auto;
}

.container-form {
    width: 50%;
    margin-bottom: 10%;
}

.container-login {
    margin-bottom: 10%;
}

.profile-icon {
    cursor: pointer;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: calc(100% + 10px);
    /* Ajustado para criar espaço */
    transition: all 0.3s ease;
    opacity: 0;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.navbar-brand img {
    height: 90px;
}

.search-form {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 992px) {
    .search-form {
        max-width: 100%;
    }
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.btn-details {
    margin-top: auto;
}

.footer {
    flex-shrink: 0;
    height: 130px;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-group+.form-group {
    margin-top: 1.5rem;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group+.form-group {
    margin-top: 1.5rem;
}

/* Pagination */

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
}

.pagination .page-item {
    background: var(--color-gray-3);
    padding: 0.5rem 1rem;
}

.pagination .page-link {
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-white);
}

.pagination .page-current {
    background: var(--color-primary-dark);
}