{% extends 'global/base.html' %}

{% block loadings %}
{% load permission_tags %}
{% endblock loadings %}

{% block content %}
<div class="content">
    
    {% if user.is_authenticated %}        
        {% if user|has_role:'Admin' %}
            <div class="mt-4 d-flex justify-content-end">
                <a href="{% url 'product_update' id=produto.id %}" class="btn  btn-warning me-2">
                    <i class="bi bi-pencil"></i> Editar Produto
                </a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="bi bi-trash"></i> Deletar Produto
                </button>
            </div>
        {% endif %}
    {% endif %}
    <div class="produto-detail">
        <h1 class="produto-nome">{{ produto.nome }}</h1>
        <div class="middle">
            <img class="img-detalhes" src="{{ produto.imagem.url }}" alt="produto-imagem">
            <div class="descricao">
                <div class="texto-descricao">
                    <p class="texto">{{ produto.descricao }}</p>
                    <hr>
                </div>

                <div class="produto-preco">
                    <p class="preco">R$ {{ preco }}</p>
                    <p>Em até 12x de R$ {{ parcela }} sem juros</p>
                </div>

                <button class="btn btn-primary" type="submit">Comprar agora</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Deleção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja deletar o produto "{{ produto.nome }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'product_delete' produto.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirmar Deleção</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>s
{% endblock content %}